.first-flex-style {
  display: flex;
  justify-content: space-between;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.search-bar-wrapper input {
  width: 300px;
  border: none;
  outline: none;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  position: relative;
}
.cart-button .carts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -7px;
  left: -7px;
  background-color: red;
  color: white;
  border-radius: 50%;
}

.phone-navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: white;
  transition: .5s;
  box-shadow: 10px 0 10px black;
}
.phone-navbar .right-side {
  display: flex;
  gap: 20px;
}

.phone-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}

.phone-search-bar-wrapper {
  display: flex;
  background-color: #eeeeee;
  overflow: hidden;
  border-radius: 10px;
}
.phone-search-bar-wrapper p {
  color: black;
}
.phone-search-bar-wrapper input {
  border: none;
  outline: none;
  width: 200px;
  color: black;
  background-color: transparent;
}
.phone-search-bar-wrapper input::placeholder {
  color: black;
}

.phone-side-nav-wrapper {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #020269;
}

.phone-side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 60px;
  width: 70vw;
  height: 100vh;
}
.phone-side-nav .logo {
  height: 70px;
}

.phone-nav-anchors {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.phone-nav-anchors a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: white;
  padding: 10px 0;
}

.tall {
  display: none;
  width: 100vw;
  height: 1000px;
  background: #eeeeee;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  .phone-navbar {
    display: flex;
  }

  .page-body {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0px 20px 60px #00000080;
    z-index: 10000;
    transition: .5s;
  }
  .page-body.hidden {
    left: -70vw;
  }
  .page-body.hidden .phone-navbar {
    left: -70vw;
  }

  .phone-side-nav-wrapper {
    display: flex;
  }
  .tall {
    display: block;
  }
}